/*DoorMeds*/
/* BASE CSS */
.border-b{border-bottom:1px solid #FF6347;}
.alignleft {
	float: left;
	margin-right: 15px;
}
.alignright {
	float: right;
	margin-left: 15px;
}
.aligncenter {
	display: block;
	margin: 0 auto 15px;
}
.border-bottom{
  border-bottom: 1px solid #FF6347;
}
a:focus {
	outline: 0 solid
}

img {
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 600;
	padding: 0;
}
p {
	font-size: 15px;
	margin-bottom: 0px;
    font-family: "Montserrat", sans-serif;
	font-weight: 400;
}
ul{
	list-style:none;
}
html,
body {
	height: 100%
}
body {
  font-family: "Poppins", sans-serif;
	background-color: #fff;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 1.6;
	color: #333;
}
a,
a:hover,
a:focus,
input,
textarea {
	text-decoration: none;
	outline: none;
}
a {
	text-decoration: none;
	color: #333;
	-webkit-transition: .4s;
	transition: .4s;
	font-family: "Montserrat", sans-serif;
}
a:hover {
	color: #635CDB
}
.pt-100 {
	padding-top: 100px;
}
.pb-100 {
	padding-bottom: 100px;
}
.pt-50 {
	padding-top: 50px;
}
.pb-50 {
	padding-bottom: 50px;
}
.pb-30 {
	padding-bottom: 30px;
}
.pl-50 {
	padding-left: 50px;
}
.pr-50 {
	padding-right: 50px;
}
.mb-30{
	margin-bottom:30px;
}
.mb-50{
	margin-bottom:50px;
}
.mb-100{
	margin-bottom:100px;
}
.mt-50{
	margin-top:50px;
}
.mt-100{
	margin-top:100px;
}
.pt-5{
	padding-top: 5px;
}
.common_padding{
	padding:100px 0px;
}
/* Preloader */
/* Preloader */

.flex-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #555;
	z-index: 99999
}
.dots .dot {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 10px 0 10px;
	background: #d35400;
	border-radius:50%;
	-webkit-animation: dot-dot-dot 0.2s linear infinite;
	animation: dot-dot-dot 0.2s linear infinite;
}
.dots .dot:nth-child(2) {
	-webkit-animation-delay: .2s;
	       animation-delay: .2s;
		   background-color:#1abc9c
}
.dots .dot:nth-child(3) {
	-webkit-animation-delay: .4s;
	        animation-delay: .4s;
		   background-color:#3498db
}
.dots .dot:nth-child(4) {
	-webkit-animation-delay: .6s;
	        animation-delay: .6s;
		   background-color:#9b59b6
}
.dots .dot:nth-child(5) {
	-webkit-animation-delay: .8s;
	        animation-delay: .8s;
		   background-color:#e74c3c
}
@-webkit-keyframes dot-dot-dot {
	0%,
	60%,
	100% {
		-webkit-transform: initial;
		transform: initial;
	}
	30% {
		-webkit-transform: translateY(-25px);
		transform: translateY(-25px);
	}
}
@keyframes dot-dot-dot {
	0%,
	60%,
	100% {
		-webkit-transform: initial;
		transform: initial;
	}
	30% {
		-webkit-transform: translateY(-25px);
		transform: translateY(-25px);
	}
}
/*Preloader */
#scrollUp {
	bottom: 10px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	right: 20px;
	background-color: #635CDB;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
}
#popUpMain{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 1001;
	
}
#popup{
	width: 750px;
	height: 400px;
	background-image: url('../img/app/app.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 2px 2px 4px 3px #fff;
	text-align: center;
}
 #popup::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0.8;
}
#popUpHeading{
	transform: translateY(50px);
	color: white;
	font-weight: 800;
	
}
@media screen and (max-width: 700px){
	#popup{
		width: 500px;
	height: 250px;
	}
	#popUpHeading{
		font-size: 16px;
		margin-right: 10px;
	}
	.button-area {
	margin-right: 25px;
	padding: 15px;
}
}
.button-area{
}
/* BTN Css */
a.box-btn {
	background-color: #df2424;
	display: inline-block;
	color: #fff;
	padding: 10px 25px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 1px;
	position: relative;
	margin-bottom: 20px;
}
a.border-btn {
	/* border: 3px solid #df2424; */
	display: inline-block;
	color: #fff;
	padding: 8px 25px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 1px;
	position: relative;
	margin-top: 20px;
	box-shadow: 3px 2px 4px 3px #df2426;
}
a.box-btn i.fa {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	right: 25px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: .5s;
	transition: .5s;
}
a.box-btn:hover i.fa {
	right: 10px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
a.border-btn i.fa {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	right: 25px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: .5s;
	transition: .5s;
}
a.border-btn:hover i.fa {
	right: 10px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
 @media screen and (max-width: 700px){
	 .section-title h2,h5{
		 font-size:20px;
	 }
	 .section-title p{
		 font-size: 10px
	 }
 }
 @media screen and (max-width: 700px){}
/* section title start */
 .section-title h2 {
  position: relative;
  /* margin-bottom: 18px; */
  display: inline-block;
  color: #e60d0d;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  letter-spacing: 3px;
}

.section-title h5 {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
}
.section-title p {
	font-weight: 300;
	color: #262626;
	position: relative;
	text-align: center;
	font-size: 14px;
}
.section-title p  span{
	font-weight: 300;
	color: #fff;
	position: relative;
	text-align: center;
}
/* HEADER AREA START*/
/* header top start */
.header-left {
    padding: 5px 0 0 0;
}
button.btn.btn-primary.my-header-btn1 {
    padding: 2px 10px;
}
button.btn.btn-primary.my-header-btn2 {
    padding: 2px 10px;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #999;
}
.btn-primary {
    color: #fff;
    background-color: #FF6347;
    border-color: #fff;
}

button.btn.btn-primary.my-header-btn1:hover {
    background-color: #fff;
    color: #FF6347;
	border:1px solid #fff;
}
button.btn.btn-primary.my-header-btn2:hover {
    background-color: #fff;
    color: #FF6347;
	border:1px solid #fff;
}

.header-top {
  background-color:#df2424;
  color: #fff;
  padding: 10px 0;
}
.header-top a {
  color: #fff;
}
.header-social a {
  margin-left: 10px;
}
.header-social img {
  width: 13px;
  transition: 0.5s;
}
.header-social a img:hover{
	transform:scale(1.5);
}

/* Header Area start*/

.header.header-fixed.sticky {
	background-color: #fff;
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
	-webkit-transition: .3s;
	transition: .3s;
	padding: 5px 0;
	position: fixed;
	z-index: 999;
	width: 100%;
	left: 0;
	top: 0;
}
.mainmenu ul li.current a, .mainmenu ul li a:hover {
	color: #635CDB;
}
.header.header-fixed.sticky li.current a {
	color: #df2426 !important;
}
.navbar {
	padding: 0px 0px;
}
#navbarNav a {
	font-weight: 500;
	padding: 0px 12px;
	color: #fff
}
.header {
	padding: 10px 0;
	-webkit-transition: .3s;
	transition: .3s;
}
.header a {
	color: #333 !important;
}

.header-left a {
  font-size: 13px;
  margin-right: 15px;
}
.header-social a {
  margin-left: 10px;
}
.navbar {
	padding-right: 0;
}
.navbar-brand img {
	padding-left: 30px;
	height: 44px;
	width: 150px;
}
.header.sticky {
	background-color: #fff;
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
	-webkit-transition: .3s;
	transition: .3s;
	padding: 5px 0
}
.header.sticky a {
	color: #333;
}
#navbarNav ul li:last-child a {
	padding-right: 0;
}
.mainmenu ul li.current a, .mainmenu ul li a:hover {
	color: #FF7200;
}
.header.header-fixed.sticky a {
	color: #333 !important;
}
/* SLIDER AREA START */
.single-slide {
	background-size: cover;
	background-position: center;
	height: 100%;
	z-index: 2;
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.slider-area {
	height: 100%;
}
.single-slide:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #000;
	z-index: -1;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.slide-table {
	width: 100%;
	height: 100%;
	display: table;
	text-align: center
}
.slide-tablecell {
	height: 100%;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
.slide-tablecell h4 {
    color: #ffffff;
    margin-bottom: 15px;
    letter-spacing: 8px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
.slide-tablecell h2 {
    color: #fff;
    margin: 20px;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    /* word-spacing: 5px; */
}
.slide-tablecell h2 span{
	color:#FF6347;
	font-weight:900;
}
.slider-area,
.slider-area div {
	height: 100%;
}
.slider_text,
.slider_text div {
	height: auto
}
.slider .owl-dots div {
	width: 20px;
	height: 20px;
	background-color: #eee;
	display: block;
	margin-bottom: 10px;
}
.slider .owl-dots div.active {
	background-color: #df2424;
}
.slider .owl-controls {
	height: auto;
}
.slider .owl-dots {
	margin-top: -60px;
	z-index: 3;
	position: absolute;
	text-align: center;
	right: 40px;
	top: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}
@media screen and (max-width: 700px) {
 .slider .owl-dots {
	margin-top: -60px;
	z-index: 3;
	position: absolute;
	text-align: center;
	right: 7px;
	top: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.slider .owl-dots div {
	width: 12px;
	height: 12px;
	background-color: #eee;
	display: block;
	margin-bottom: 10px;
}
}
.slide-content {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	height: auto !important;
	color: #fff;
}
.card-header {
	padding: 15px;
	background-color: #209DF0;
	border-bottom: 1px solid #635CDB;
}

.btn-link {
	font-weight: 400;
	color: #fff;
	font-size: 14px;
}
.btn-link:hover {
	color:#fff;
	text-decoration:none
}
.card-body {
	padding: 10px 15px;
	font-weight: 300;
	line-height: 1.8;
	font-size: 13px;
}
.slide-content p {
	font-size: 20px;
	font-weight: 600;
}
.slide-content h2 {
	text-transform: capitalize;
	font-size: 45px;
	margin: 20px 0;
	font-weight: 700;
	line-height: 1.4;
}
/* SLIDER AREA END */
/* ABOUT AREA START */
.about-text {
	/* padding: 10px 0; */
}
.about-text p{
	/* padding-bottom: 10px; */
	text-align: left;
}
.story-text p{
	/* padding-bottom: 10px; */
	text-align: justify;
}
.about-text p span{
	font-weight: 500;
}
.story-text p span{
	font-weight: 600;
}
.about-text h4 {
	padding-bottom: 10px;
	text-align: justify;
	font-size: 16px;
}
.about-text ul {
  list-style: none;
  padding-left: 0;
}
.about-text ul li {
	padding: 5px 20px;
	position: relative;
	color: #000;
	font-size: 0.90rem;
	/* text-align: center; */
}
.about-text ul li::before {
	content: "\f061";
	position: absolute;
	top: 9px;
	left: 0;
	font-family: 'FontAwesome';
	color: #df2424;
}
@media screen and (max-width: 700px){
	.about-text h4 {
	text-align: center;
	font-size: 14px;
}
}
.about-video iframe {
  width: 100%;
}
.about-video {
  position: relative;
  z-index: 2;
  width: 100%;
}

/* ABOUT AREA END */
/*DOWNLOAD APP AREA*/
.app-area {
	position: relative;
	z-index: 2;
	/* height: 100%; */ 
	width:100%;
	background-image: url(../img/app/online.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	padding: 60px 0 0 0;
	margin: 10px 0 10px 0;
}
 @media screen and (max-width: 700px){
	 .app-area{
		 height: auto;
	 }
	 .single-app-area ul li {
	padding: 5px 22px;
	position: relative;
	color: #fff;
	font-size: 0.80rem;
}
}
 .app-area::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0.9;
}
.single-app-area{
	/* float: left;
	margin-right: 30px;
	width: 550px; */
}
.single-app-area h4 {
  font-size: 30px;
  color: #df2424;
  margin: 0 0 30px 0;
}
.single-app-area ul {
  list-style: none;
  padding-left: 0;
}
.single-app-area ul li {
	padding: 5px 20px;;
	position: relative;
	color: #fff;
	font-size: 0.90rem;
	/* text-align: center; */
}
.single-app-area ul li::before {
	content: "\f00c";
	position: absolute;
	top: 9px;
	left: 0;
	font-family: 'FontAwesome';
	color: #df2424;
}

.app-area-img img {
	/* width: 50%;
	border-radius:10px; */
	height: auto;
	max-width: 80%;
	border: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0px 20px 40px 20px;
}
@media screen and (max-width: 700px){
	.app-area-img img {
	height: auto;
	max-width: 100%;
	border: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0 0px;
}}
.app-area-img {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-bottom: 10px;
}

/* service area start */
.single-service {
  text-align: center;
  padding: 25px;
  min-height: 300px;
  transition: 0.5s;
}
.single-service:hover {
  box-shadow: 1px 1px 19px #ccc;
}
.single-service img {
  width: 50px;
  height: 50px;
  margin: 15px 0;
}
.single-service h2 {
	font-size: 20px;
	padding: 10px 0;
	color: #df2424;
	text-transform: capitalize;
	font-weight: 600;
}
.single-service p {
  text-align: center;
  font-size: 14px;
  font-family: 'Montserrat',sansserif;
  font-weight: 400;
}
/* MISSION AND VISION AREA */
.mission-area {
	position: relative;
	z-index: 2;
	height: 50vh; 
	width:100%;
	background-image: url(../img/delivery.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* background-attachment: fixed; */
	padding: 60px 0 0 0;
	margin: 20px 40px 20px 0;
	color: #fff;
}
.mission-area::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 50vh;
  z-index: -1;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0.9;
}
.mission-and-vision p{
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 550;
	letter-spacing: 5px;
	text-align: center;
}
@media screen and (max-width: 700px){
	.mission-and-vision p{
	font-size: 1.3rem;
	letter-spacing: 2px;
	margin-top: 20px;
}
}

/* TEAM SECTION START  */

#team {
  padding: 60px 0;
}

#team .section-header {
  margin-bottom: 40px;
}

#team .owl-nav,
#team .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#team .owl-dot {
	display: inline-block;
	margin: 0 10px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #ddd;
}

#team .owl-dot.active {
  background-color: #df2424;
}
.owl-carousel .owl-item img {
	transform-style: preserve-3d;
	margin: 0px 120px;
}
@media screen and (max-width: 700px){
	.owl-carousel .owl-item img {
	transform-style: preserve-3d;
	margin: 0px 55px;
}
}
 #team .events{
	text-align:center;
} 
.single-team h3 {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 25px;
	color: #df2426;
	text-align: center;
	margin: 20px 0 0 20px;
	letter-spacing: 1px;
}
.single-team{
	margin-bottom: 30px;
	transition:.8s;
	margin-right: 30px;
}
.single-team img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.single-team p {
	font-size: 14px;
	color: #6a6a6a;
	text-transform: capitalize;
	text-align: center;
	margin-right: -20px;
}

.team-img {
	position: relative;
	z-index: 99;
	width: 262px;
	height: 266px;
}

.team img {
  width: 100%;
  height: 266px;
  
}
/* TEAM SECTION END */

/*reviews start*/
.testimonial-area {
	background-image: url("../img/reviews.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	z-index: -1;
	color: #fff;
	margin:100px 0 100px 0;
}

.testimonial-area:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #333;
	z-index: -1;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}

.single-testimonial {
	background-color: #df242400;
	text-align: center;
	padding: 40px 50px;
	position: relative;
	margin: 20px 0px;
	box-shadow: 2px 2px 4px 3px #fff;
	 transition: 0.85s;
}
.single-testimonial:hover {
  box-shadow: 1px 1px 19px #df2426;
}
.testi-img img {
	position: relative;
	z-index: 9;
	border-radius: 50%;
	border: 3px solid #eee;
	padding: 3px;
	max-width: 100px;
	display: block;
	margin: 0 auto;
	margin-top: -100px;
}

.single-testimonial p {
	margin-bottom: 20px;
} 

.single-testimonial h4 {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 20px;
	color: #df2426;
}

.single-testimonial h4 span {
	display: block;
	font-weight: 400;
	font-size: 13px;
	margin-top: 5px;
	color: #fff;
}
.center .single-testimonial {
	background-color: #209DF0;
}
.single-testimonial i.fas {
	margin: 20px 0px;
	color: #df2424;
	font-size: 30px;
}
@media screen and (max-width: 700px){
	.single-testimonial {
	margin: 50px 0px;
}
}
/* FAQ PAGE AREA START */
.card-header, .card-link,.card-link:hover{
	background-color:#df2426;
	text-align:left;
	color:#fff;
	font-weight: 600;
}
.card-body{
	padding:10px 10px;
}
.card{
	/* width:500px; */
}
.card-body p{
	font-weight: 400;
	color: #000;
}
.card-link p{position:absolute;top:5px;right:20px;font-size:20px;color:white;
-webkit-animation: minus 0.5s;}

@keyframes minus {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

[aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {display: none;}
.my-accordion{
	margin:100px 0 100px 0;
}
/* faq area end*/

/* CONTACT AREA */
.contact-area {
	position: relative;
	z-index: 2;
	height: 50vh; 
	width:100%;
	background-image: url(../img/contact.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	 background-attachment: fixed; 
	 padding: 60px 0 0 0;
	margin: 20px 40px 20px 0;
	color: #fff; 
	/* background-color: #fff; */
}
 .contact-area::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 50vh;
  z-index: -1;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0.9;
} 
.contact p{
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 5px;
	text-align: center;
	margin-bottom: 25px;
	letter-spacing: 1px;
	margin-top: 20px;
}
@media screen and (max-width: 700px){
	.contact p{
	font-size: 1.30rem;
	letter-spacing: 1px;
	margin-top: 20px;
}
.contact-social a {
  margin: 7px; 
}
.contact-social img {
	width: 25px;
	margin-bottom: 30px;
	transition: 0.5s;
}
}
.contact-social a {
 margin: 10px;
}
.contact-social img {
	width: 25px;
	margin-bottom: 30px;
	transition: 0.5s;
}
.contact-social a img:hover{
	transform:scale(1.5);
}
/* FOOTER AREA START */
.footer-area{
	background-color: #333;
	color: #fff;
}
/* FOOTER AREA END */
